.inputsSection {
  width: 100%;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.text {
  flex: 1;
  height: 100%;
  font-size: 24px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(154, 154, 154);
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 1px 1px 4px #babecc, inset -5px -5px 10px #ffffff73;
}

.button {
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
  height: 100%;
  border: none;
  outline: none;
  color: white;
  background-color: white;
  border-radius: 20px;
  font-size: 24px;
  margin-left: 20px;
  color: rgb(154, 154, 154);
  box-shadow: 1px 1px 3px #babecc, -5px -5px 10px #ffffff73;
}
